.GameDetails {
    padding: 85px 330px;
}

.GameDetails_main {
    display: flex;
    margin-bottom: 120px;
    gap: 60px;
}

.main_img {
    width: 350px;
    height: 464px;
}

.About_words {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content_buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.content_buttons>button:nth-child(1) {
    width: 142px;
    height: 73px;
    border-radius: 15px;
    background: #77BE1D;
    color: white;
}

.content_buttons>button:nth-child(2) {
    width: 167px;
    height: 73px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    background: transparent;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    display: flex;
    gap: 40px;
    background: #07050E;
    border-radius: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .modal-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .modal_words {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 619px;
  }
  .buy {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .buy>button {
    border-radius: 15px;
    border: 2px solid #77BE1D;
    background: transparent;
    width: 135px;
    height: 61px;
    color: white;
  }
  .buy>p {
    font-size: 32px;
  }
.content4 {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 8px 75px;
    white-space: nowrap;
}

.content5 {
    display: flex;
    gap: 29px;
    align-items: center;
}

.content5>p:nth-child(1) {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    color: #97E238;
    font-size: 20px;
    width: 284px;
    height: 66px;
    padding: 18px 25px;
}

.content5>p:nth-child(2) {
    font-size: 20px;
    color: #FFF;
}

.GameDetails_main2>h1 {
    margin-bottom: 20px;
}

.random_games {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 1620px) {
    .GameDetails {
        padding: 40px 130px;
    }
}

@media only screen and (max-width: 768px) {
    .GameDetails {
        padding: 25px;
    }
    .GameDetails_main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .GameDetails_main .content2 {
        justify-content: center;
    }
    .GameDetails_main .content_buttons {
        align-items: center;
        justify-content: center;
    }
    .modal-content {
        flex-direction: column;
    }
    .modal-image {
        width: 50%;
        align-self: center;
    }
    .modal_words {
        width: 400px;
        font-size: 14px;
    }
    .GameDetails_main .content4 {
        grid-template-columns: repeat(2, 2fr);
    }
    .random_games {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 460px) {
    .GameDetails {
        padding: 30px 31px;
    }
    .GameDetails_main {
        gap: 42px;
    }
    .main_img {
        width: 320px;
    }
    .modal_words {
        gap: 10px;
        width: 320px;
        font-size: 14px;
    }
    .content4>p {
        font-size: 14px;
    }
    .content5 {
        flex-direction: column;
    }
}