.About_main {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.About_main2>img {
    margin-bottom: 20px;
}

.About_main2>p:nth-child(1) {
    width: 360px;
}

.About_main2>p:nth-child(2) {
    margin-bottom: 10px;
    width: 360px;
}

.About_main2>p:nth-child(3) {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .About_main2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 460px) {
    .About {
        padding: 40px 30px;
    }
    .About_main {
        display: inherit;
    }
    .About_main2 {
        display: block;
    }
    .About_main2>img {
        width: 320px;
        height: 200px;
    }
    .About_main2>p {
        width: 280px;
    }
    .About_main2>p:nth-child(2) {
        width: 280px;
    }
}