* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: sans-serif;
    color: white;
    height: 100vh;
    background: #06030F;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

p, li {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

p {
    font-size: 20px;
}

li {
    list-style-type: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    height: 73px;
    font-size: 18px;
    border: none;
}

input:focus {
    outline: none;
}

.content2 {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 20px;
}

.content2>p:nth-child(1) {
    font-size: 32px;
}

.content2>p:nth-child(2) {
    color: #77BE1D;
}